@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "tradeGothicLTStdRegular";
  src: url("../src/fonts/TradeGothicLTStdRegular.otf");
}
@font-face {
  font-family: "tradeGothicLTStdBold";
  src: url("../src/fonts/TradeGothicLTStdBold.otf");
}
@font-face {
  font-family: "tradeGothicLTStdUltraBold";
  src: url("../src/fonts/TradeGothicLTStdBoldNo2.otf");
} */

@layer base {
  /* @font-face {
    font-family: '"TradeGothicLTStdRegular"';
    src: url("../src/fonts/TradeGothicLTStdRegular.otf") format("otf");
  }
  @font-face {
    font-family: '"TradeGothicLTStdBold"';
    src: url("../src/fonts/TradeGothicLTStdBold.otf") format("otf");
  }
  @font-face {
    font-family: '"TradeGothicLTStdUltraBold"';
    src: url("../src/fonts/TradeGothicLTStdBoldNo2.otf") format("otf");
  } */
  @font-face {
    font-family: '"Trade Gothic LT Std Bold Condensed No 20"';
    src: url("../src/fonts/TradeGothicLTStd-BdCn20.otf") format("otf");
  }
  @font-face {
    font-family: '"Trade Gothic LT Std Bold Condensed No 18"';
    src: url("../src/fonts/TradeGothicLTCondensedNo18.otf") format("otf");
  }
  @font-face {
    font-family: '"Trade Gothic LT Std Bold No2"';
    src: url("../src/fonts/TradeGothicLTStd-Bd2.otf") format("otf");
  }
  @font-face {
    font-family: '"Trade Gothic LT Std Regular"';
    src: url("../src/fonts/TradeGothicLTStd.otf") format("otf");
  }
}
